.navItems li {
  cursor: pointer;
  transition: 0.2s ease;
}

.navItems li:hover {
  scale: 1.05;
}

.dropdownMenu {
  height: calc(100vh - 4rem);
  transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dropdownMenu li {
  font-size: 1.1rem;
  border-bottom: 1px solid var(--border);
  padding: 0.5rem 0;
}

.dropdownMenuIn {
  transform: translateX(0);
}

.dropdownMenuOut {
  transform: translateX(-100%);
}
